{
    "main": "bin/rosetta",
    "compression": "GZ",
    "compactors": [
        "KevinGH\\Box\\Compactor\\Php"
    ],
    "files": [
        "src/JavaScript/dist/rosetta.js"
    ],
    "blacklist": [
        "Composer/",
        "JavaScript/"
    ],
    "datetime": "release-date",
    "git-version": "package_version",
    "output": "rosetta.phar"
}
